
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

.login
{
    text-align: center;
    font-family: 'Arial';
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10%;  
    border: groove;
    position: relative;
    animation: loginMove 4s infinite;
    animation-iteration-count: 1;
 
}
.titleLogin
{
    text-align: center;
    font-family: 'Arial'; 
   
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button 
{
  display: none;
}

body {margin:0px;}

#div1 {animation-timing-function: ease;}



